body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
    background-color: #000000;
}

h1, h2 {
    color: #ffffff;
    
}

label {
    display: flex;
    margin-top: 20px;
   
    
}
S
input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
}

li {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ffffff;
}
